<div class="grid-container">
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Nifty 500</div>
                <div class="panel-body">
                    <app-datatable [id]="stock.listDatatable.id" [options]="stock.listDatatable.options"
                        (instance)="listDatatableEvt($event)">
                    </app-datatable>
                </div>
            </div>
        </div>
    </div>
</div>