/* You can add global styles to this file, and also import other style files */
@import './assets/css/bootstrap.min.css';  
@import './assets/datatable/css/dataTables.bootstrap.min.css';  
@import './assets/datatable/css/rowReorder.dataTables.min.css';
@import './assets/datatable/css/responsive.dataTables.min.css';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.grid-container {
    margin: 20px;
  }
  